body {
    
    background-color: rgb (250, 250, 250);
}

#main-container,
.container {

    max-width: 935px;
    margin: 0 auto;
}


img{
    
    max-width: 100%; 
    
}


.photo-grid  .col-md-4 { 

    margin-top: 50px
    

}

photo-grid  .col-md-4 { 

    padding-bottom: 20px;
    

}


#profile-info {
    margin-top: 50px;
    
    
    
}

#profile-photo img {
    
    border-radius: 100px; 
    max-width: 200px;
    width: 20 vw;
    margin: 0 auto;
    display: block;
    margin: 0 auto;
}

#profile-stats{
    padding: 0;
    
    
}

.navbar {padding: 20px;
background-color: rgb(255,255,255);}


.navbar-right: {
    padding: 10px;
}

#navbar-logo {font-family: 'Cookie', cursive;
font-size: 30px;
color: rgb(4,75,123);}



footer {
    padding-bottom:20px;
    
}


#footer-left {display: inline-block;}

#footer-right {float: right;
display: inline-block;
    color: #666;
    font-weight: 700;
  
    
}
