body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(https://unsplash.it/1920/1080/?random);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}


#clock {
    color: #FFF;
    text-align: center;
    font-size: 10vmax;
    font-family: sans-serif;
    padding-top: calc(50vh - 5vmax);
    
}